APP_ENV=
APP_DEBUG=
APP_KEY=
APP_THEME=
APP_TIMEZONE=
APP_URL=
APP_LOCALE=
APP_ENVIRONMENT_ONLY=

LOG_CHANNEL=
LOG_DEPRECATIONS_CHANNEL=
LOG_LEVEL=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=
QUEUE_CONNECTION=
SESSION_DRIVER=

HASHIDS_SALT=
HASHIDS_LENGTH=

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

APP_SERVICE_AUTHOR=
PTERODACTYL_TELEMETRY_ENABLED=
SESSION_SECURE_COOKIE=
CURSEFORGE_API_KEY=
PLUGINS_ADDON_LICENSE_KEY=
ARIX_LICENSE_KEY=
DB_STRICT_MODE=